/* navbar  */
* {
  font-family: Inter, serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f8f8ff;
}

nav {
  height: 3.8rem;
  color: white;
}

.home-page-nav-opacity {
  background-color: rgba(0, 0, 0, 0.274) !important;
}

.logo {
  width: 150px;
  position: fixed;
  z-index: 2;
  left: 10%;
  top: 0.9rem;
}

.explore-link {
  color: white;
  text-decoration: none;
  margin-right: 10%;
}

.explore-link:hover {
  color: white;
}

.icon {
  font-size: 1.3em;
}

.log-in {
  height: 2em;
  font-size: 1em;
  padding-top: 3px;
}

/* light navbar */

#navbar-light {
  z-index: 0;
  top: 3.8rem;
  width: 100%;
  margin-bottom: 7em;

  /* position: sticky; */
}

.light-nav-list-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10rem;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  left: 10%;
}

.active-nav {
  color: black;
  border-bottom: 2px solid #007bff;
}

/* Home page  */

.overlay-homepage {
  height: 100vh;
  width: 100%;
  transition: 1s ease;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#explore-text {
  color: white;
  font-family: Inter, serif;
  height: 100%;
}

.img-homepage {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 1s ease;
}

.hidden {
  opacity: 0;
  transition: 0.5s ease-out;
}

.home-title {
  font-size: 2.3em;
  font-weight: 300;
}

.home-subtitle {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.explore-button {
  width: 12rem;
  font-size: 1.6em;
  font-weight: 400;
  border-radius: 3px;
}

/* explore page */

/* people */

.user-card-container {
  width: 400px;
  height: 90vh;
  margin: auto;
}

.user-card-list {
  margin-top: 8rem;
  padding: 1em;
}

.members-title {
  font-size: 1.2rem;
  margin-left: 1em;
  color: #2e2e2e;
}

.card-container {
  background-color: white;
  width: 22rem;
  margin: 0 0 1em 1em;
  height: 8rem;
}

.card-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-name {
  padding: 0;
  margin: 0.3em 0 0.7em;
  font-size: 120%;
  color: #152536;
}

.card-location {
  color: grey;
  font-size: 0.7em;
  padding: 0;
  margin: 0 0 0 0.3em;
}

.card-info {
  margin-top: 1rem;
}

/* image modal  */
.close-button {
  position: fixed;
  top: 12%;
  right: 5%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}

.fa-window-close {
  font-size: 20px;
  color: white;
}

.img-expand-container {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 3%;
}

.img-expand {
  max-height: 75vh;
  max-width: 90%;
}

.img-modal-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(52, 58, 64, 90%), rgba(52, 58, 64, 90%));
}

/* gallery */

.gallery-container {
  width: 80%;
  margin: auto;
}

.img-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: 1s linear;
  margin-bottom: 5rem;
}

.landscape {
  width: 75%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.portrait {
  width: 22%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.square {
  width: 60%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

/* profile page */

.profile-navbar-light {
  z-index: 0;
  width: 100%;
  cursor: default;
  margin-bottom: 3em;
  top: 3.8em;
}

.profile-container {
  margin-top: 3rem;
  width: 100%;
  height: 22rem;
  position: relative;
}

.overlay-coverphoto {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.425));
}

.coverphoto-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.coverphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  position: relative;
  top: 10%;
  left: 10%;
  width: 20rem;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2em;
}

.profile-name {
  margin-top: 1em;
  font-weight: 400;
}

.profile-subtext {
  margin: 0 0 0.3em;
  padding: 0;
}

.email {
  font-size: 0.9em;
  font-weight: 300;
}

.email:hover {
  text-decoration: underline;
}

/* signup page */

.sign-up-image {
  display: none;
}

.background-form-white {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: -1;
}

.form-container {
  height: 80vh;
  width: 400px;
  margin: auto;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  margin-top: 0;
  border-radius: 0.3em;
}

.form-group > input {
  margin: 1em 0;
  width: 20em;
  height: 3em;
  border: 0.2px solid rgba(34, 34, 34, 0.493);
}

.header-form {
  font-weight: 400;
}

.signup-btn {
  width: 100%;
  background-color: #0b99ff;
  color: white;
  height: 3.3em;
}

.circles {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.circle {
  height: 0.8em;
  width: 0.8em;
  margin: 0.05em;
  border-radius: 50%;
}

.green-circle {
  background-color: #7ca;
}

.blue-circle {
  background-color: #0063dc;
}

@media screen and (min-width: 600px) {
  .landscape {
    width: 60%;
    flex-grow: 2;
  }

  .portrait {
    width: 19%;
  }

  .square {
    width: 39%;
    flex-grow: 0;
  }

  .home-title {
    font-size: 3em;
  }

  .background-form {
    display: none;
  }

  .form-group > input {
    margin: 0.5em 0;
    width: 16em;
    height: 2.8em;
    font-size: 1em;
  }

  .signup-form {
    padding: 1.5em 2em;
    background-color: white;
    border-radius: 2px;
  }

  .signup-btn {
    margin-top: 2em;
  }

  .sign-up-image {
    display: inline;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
  }
}

@media screen and (min-width: 700px) {
  .user-card-container {
    width: 800px;
  }

  .landscape {
    width: 48%;
  }

  .portrait {
    width: 20%;
  }

  .square {
    width: 40%;
    flex-grow: 2;
  }
}

@media screen and (min-width: 980px) {
  .profile-info {
    top: 45%;
    display: flex;
    flex-wrap: nowrap;
    width: 35rem;
  }

  .landscape {
    width: 36%;
  }

  .portrait {
    width: 15%;
  }

  .square {
    width: 30%;
  }

  .home-title {
    font-size: 3.5em;
  }

  .home-subtitle {
    font-size: 1.5em;
    font-weight: 300;
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .user-card-container {
    width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .landscape {
    width: 30%;
  }

  .portrait {
    width: 10%;
  }

  .square {
    width: 20%;
  }

  .home-title {
    font-size: 4em;
  }

  .home-subtitle {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1600px) {
  .landscape {
    width: 25%;
  }

  .portrait {
    width: 10%;
  }

  .square {
    width: 20%;
  }
}
