/* navbar  */
* {
  font-family: Inter, serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f8f8ff;
}

nav {
  height: 3.8rem;
  color: white;
}

.logo {
  width: 150px;
  position: fixed;
  left: 10%;
  top: 0.9rem;
}

.explore-link {
  color: white;
  text-decoration: none;
  margin-right: 10%;
}

.explore-link:hover {
  color: white;
}

/* light navbar */

#navbar-light {
  z-index: 0;
  top: 3.8rem;
  position: fixed;
  width: 100%;
}

.light-nav-list-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10rem;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  left: 10%;
}

.active-nav {
  color: black;
  border-bottom: 2px solid #007bff;
}

/* Home page  */

.overlay-homepage {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#explore-text {
  color: white;
  font-family: Inter, serif;
  height: 100%;
}

.img-homepage {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 0.5s ease-in;
}

.hidden {
  opacity: 0;
  transition: 0.5s ease-out;
}

.home-title {
  font-size: 2.3em;
  font-weight: 300;
}

.home-subtitle {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.explore-button {
  width: 8.5rem;
}

/* explore page */

/* people */

.user-card-container {
  width: 80%;
  height: 90vh;
  margin: auto;
}

.user-card-list {
  margin-top: 12rem;
  padding: 0;
}

.members-title {
  font-size: 1.2rem;
  margin-left: 1em;
  color: #2e2e2e;
}

.card-container {
  background-color: white;
  width: 24rem;
  margin: 0 0 1em 1em;
  height: 8rem;
}

.card-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-name {
  padding: 0;
  margin: 0.3em 0 0.7em;
  font-size: 120%;
  color: #152536;
}

.card-location {
  color: grey;
  font-size: 0.7em;
  padding: 0;
  margin: 0 0 0 0.3em;
}

.card-info {
  margin-top: 1rem;
}

/* image modal  */
.close-button {
  position: fixed;
  top: 12%;
  right: 5%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}

.fa-window-close {
  font-size: 20px;
  color: white;
}

.img-expand-container {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 5%;
}

.img-expand {
  max-height: 80vh;
  max-width: 90%;
}

.img-modal-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(52, 58, 64, 90%), rgba(52, 58, 64, 90%));
}

/* gallery */

.gallery-container {
  width: 80%;
  margin: auto;
}

.img-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: 1s linear;
}

.landscape {
  width: 75%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.portrait {
  width: 22%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.square {
  width: 60%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

/* profile page */

.profile-container {
  margin-top: 3rem;
  width: 100%;
  height: 22rem;
  position: relative;
}

.overlay-coverphoto {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.336));
}

.coverphoto-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.coverphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  position: relative;
  top: 10%;
  left: 10%;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.photostream-div {
  color: black;
  font-family: Inter, serif;
  font-size: 26px;
  font-weight: 200;
  position: relative;
  text-align: center;
  width: 200px;
  left: 15%;
  top: 13px;
  border-bottom: 2px solid #007bff;
}

.profile-name {
  margin-top: 1em;
}

.profile-email {
  margin: 0;
  padding: 0;
}

.profile-email:hover {
  text-decoration: underline;
}

.profile-location {
  margin: 0;
  padding: 0;
}

.user-info {
  text-align: start;
  justify-content: flex-end;
  color: white;
}

.column-thirty {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.column-half {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.profile-navbar-light {
  z-index: 0;
  width: 100%;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .landscape {
    width: 60%;
    flex-grow: 2;
  }

  .portrait {
    width: 19%;
  }

  .square {
    width: 39%;
    flex-grow: 0;
  }

  .home-title {
    font-size: 3em;
  }
}

@media screen and (min-width: 700px) {
  .landscape {
    width: 48%;
  }

  .portrait {
    width: 20%;
  }

  .square {
    width: 40%;
    flex-grow: 2;
  }
}

@media screen and (min-width: 980px) {
  .landscape {
    width: 36%;
  }

  .portrait {
    width: 15%;
  }

  .square {
    width: 30%;
  }

  .home-title {
    font-size: 3.5em;
  }

  .home-subtitle {
    font-size: 1.5em;
    font-weight: 300;
    display: inline;
  }
}

@media screen and (min-width: 1400px) {
  .landscape {
    width: 30%;
  }

  .portrait {
    width: 10%;
  }

  .square {
    width: 20%;
  }

  .home-title {
    font-size: 4em;
  }

  .home-subtitle {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1600px) {
  .landscape {
    width: 25%;
  }

  .portrait {
    width: 10%;
  }

  .square {
    width: 20%;
  }
}
