* {
  font-family: Inter, serif;
}

a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f8f8ff;
}

/* navbar  */

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

nav {
  height: 3.8rem;
  color: white;
}

.nav-opacity {
  background-color: rgba(0, 0, 0, 0.274) !important;
}

.logo {
  width: 150px;
  position: fixed;
  z-index: 2;
  left: 10%;
  top: 0.9rem;
}

.margin-ten-percent {
  margin-right: 10%;
}

.icon {
  font-size: 1.3em;
}

.log-in-btn {
  height: 2em;
  font-size: 1em;
  padding-top: 3px;
}

/* light explore navbar */

#navbar-light {
  top: 3.8rem;
  width: 100%;
  margin-bottom: 7em;
}

.light-nav-list-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10rem;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-list {
  display: flex;
  position: relative;
  top: 10%;
  left: 10%;
}

.active-nav {
  color: black;
  border-bottom: 2px solid #007bff;
}

/* Home page  */

.overlay-homepage {
  height: 100vh;
  width: 100%;
  transition: 1s ease;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#explore-text {
  color: white;
  font-family: Inter, serif;
  height: 100%;
}

.img-homepage {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 1s ease;
}

.hidden {
  opacity: 0;
  transition: 0.5s ease-out;
}

.home-title {
  font-size: 2.3em;
  font-weight: 300;
}

.home-subtitle {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.explore-button {
  width: 12rem;
  font-size: 1.6em;
  font-weight: 400;
  border-radius: 3px;
}

/* error page  */

.error-subtitle {
  font-size: 1.5em;
  font-weight: 300;
}

/* explore page */

/* people */

.user-card-container {
  width: 400px;
  height: 90vh;
  margin: auto;
}

.user-card-list {
  margin-top: 8rem;
  padding: 1em;
}

.members-title {
  font-size: 1.2rem;
  margin-left: 1em;
  color: #2e2e2e;
}

.card-container {
  background-color: white;
  width: 22rem;
  margin: 0 0 1em 1em;
  height: 8rem;
}

.card-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-name {
  padding: 0;
  margin: 0.3em 0 0.7em;
  font-size: 120%;
  color: #152536;
}

.card-location {
  color: grey;
  font-size: 0.7em;
  padding: 0;
  margin: 0 0 0 0.3em;
}

.card-info {
  margin-top: 1rem;
}

/* image modal  */
.close-button {
  position: fixed;
  top: 8%;
  right: 5%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}

.trash-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1.5em;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.fa-window-close {
  font-size: 20px;
  color: white;
}

.img-expand-container {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1031;
  top: 0;
}

.img-expand {
  max-height: 75vh;
  max-width: 90%;
}

.img-modal-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1030;
  background-image: linear-gradient(rgba(52, 58, 64, 90%), rgba(52, 58, 64, 90%));
}

/* gallery */

.gallery-container {
  width: 80%;
  margin: auto;
}

.img-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.landscape {
  width: 75%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.portrait {
  width: 22%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.square {
  width: 60%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.footer-text {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.507);
}

/* profile page */

.profile-navbar-light {
  width: 100%;
  cursor: default;
  margin-bottom: 3em;
  top: 3.8em;
}

.profile-container {
  margin-top: 3rem;
  width: 100%;
  height: 22rem;
  position: relative;
}

.overlay-coverphoto {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.425));
}

.coverphoto-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.coverphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  position: relative;
  top: 10%;
  left: 10%;
  width: 20rem;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2em;
}

.profile-name {
  margin-top: 1em;
  font-weight: 400;
}

.profile-subtext {
  margin: 0 0 0.3em;
  padding: 0;
}

.email {
  font-size: 0.9em;
  font-weight: 300;
}

.email:hover {
  text-decoration: underline;
}

/* user profile page */

.edit-profile-image {
  background-color: rgba(46, 46, 46, 0.5);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.edit-profile-image-icon {
  color: white;
  font-size: 1.4em;
  position: absolute;
  top: 5em;
  right: 1em;
}

.close {
  border: none;
  color: black;
  background-color: white;
}

.upload-images-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 300;
  color: #3a3a3a;
  position: relative;
}

.upload-text {
  display: none;
}

.fa-images {
  position: absolute;
  bottom: 0.3em;
  left: -2.1em;
  font-size: 1.3em;
  color: #807e7e;
}

/* upload image modal component  */

.upload-img-modal-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(rgba(52, 58, 64, 90%), rgba(52, 58, 64, 90%));
}

.upload-form-container {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 3%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form-row {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  height: 20vh;
  width: 90%;
  border-radius: 3px;
  padding: 1.5em;
  position: relative;
}

.upload-button {
  background-color: #0b99ff;
  width: 7em;
  color: white;
}

.upload-close {
  position: absolute;
  right: 1em;
  top: 0.5em;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* delete modal */

.delete-modal-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1033;
  background-image: linear-gradient(rgba(124, 124, 124, 0.9), rgba(124, 124, 124, 0.9));
}

.delete-container {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 3%;
  z-index: 1033;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-form-row {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 3px 4px 2px rgb(105, 105, 105);
  height: 20vh;
  width: 90%;
  border-radius: 3px;
  padding: 1.5em;
  position: relative;
}

.delete-close {
  position: absolute;
  right: 1em;
  top: 0.5em;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* signup page */

.sign-up-image {
  display: none;
}

.background-form-white {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: fixed;
}

.form-container {
  height: 80vh;
  width: 400px;
  margin: auto;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  margin-top: 0;
  border-radius: 0.3em;
}

.form-group > input {
  margin: 1em 0;
  width: 20em;
  height: 3em;
  border: 0.2px solid rgba(34, 34, 34, 0.493);
}

.header-form {
  font-weight: 400;
}

.signup-btn {
  width: 100%;
  background-color: #0b99ff;
  color: white;
  height: 3.3em;
}

.circles-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.circle {
  height: 0.8em;
  width: 0.8em;
  margin: 0.05em;
  border-radius: 50%;
}

.green-circle {
  background-color: #7ca;
}

.blue-circle {
  background-color: #0063dc;
}

.sign-up-text {
  font-size: 0.9em;
  position: relative;
  top: 1.3em;
}

.sign-up-link,
.sign-up-link:hover,
.sign-up-link:focus,
.sign-up-link:active {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-size: 0.9em;
}

input.invalid {
  border: 1px solid red;
}

input.invalid::placeholder {
  color: red;
  font-size: 0.7em;
}

.invalid-text {
  font-size: 0.8em;
  color: red;
}

/* loading spinner */
.loading-container-top {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 2em;
  z-index: 2;
}

.loading-container-center {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 8em;
  z-index: 2;
}

.loading-container-upload {
  top: 5em;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #397aca;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (min-width: 600px) {
  /* loader  */
  .loading-container-top {
    top: 4em;
  }

  .loading-container-center {
    top: 8em;
  }

  .loading-container-upload {
    top: 6em;
  }

  /* form controls profile page */

  .upload-form-row {
    height: 10em;
    width: 55%;
  }

  .delete-form-row {
    height: 10em;
    width: 45%;
  }

  .upload-images-button {
    margin: 0 4em 2em 0;
  }

  .edit-profile-image {
    opacity: 0;
  }

  .edit-profile-image:hover {
    opacity: 100;
    cursor: pointer;
  }

  .upload-text {
    display: inline;
  }

  .fa-images {
    top: 0.2em;
    left: -1.1em;
  }

  .close-button {
    width: 5%;
    top: 6%;
    right: 3%;
  }

  .trash-button {
    bottom: 5%;
  }

  /* photo gallery  */

  .landscape {
    width: 60%;
    flex-grow: 2;
  }

  .portrait {
    width: 19%;
  }

  .square {
    width: 39%;
    flex-grow: 0;
  }

  /* home page  */

  .home-title {
    font-size: 3em;
  }

  /* sign up / sign in  */

  .background-form {
    display: none;
  }

  .form-group > input {
    margin: 0.5em 0;
    width: 16em;
    height: 2.8em;
    font-size: 1em;
  }

  .signup-form {
    padding: 1.5em 2em;
    background-color: white;
    border-radius: 2px;
  }

  .signup-btn {
    margin-top: 2em;
  }

  .sign-up-image {
    display: inline;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
  }
}

@media screen and (min-width: 700px) {
  .user-card-container {
    width: 800px;
  }

  .landscape {
    width: 48%;
  }

  .portrait {
    width: 20%;
  }

  .square {
    width: 40%;
    flex-grow: 2;
  }

  #gallery > img:last-child {
    flex-grow: 0.3;
  }
}

@media screen and (min-width: 980px) {
  .profile-info {
    top: 45%;
    display: flex;
    flex-wrap: nowrap;
    width: 35rem;
  }

  .home-title {
    font-size: 3.5em;
  }

  .home-subtitle {
    font-size: 1.5em;
    font-weight: 300;
    display: inline;
  }

  .landscape {
    width: 36%;
  }

  .portrait {
    width: 15%;
  }

  .square {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .user-card-container {
    width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .landscape {
    width: 30%;
  }

  .portrait {
    width: 10%;
  }

  .square {
    width: 20%;
  }

  .home-title {
    font-size: 4em;
  }

  .home-subtitle {
    font-size: 1.8em;
  }

  .error-subtitle {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1600px) {
  .landscape {
    width: 25%;
  }

  .portrait {
    width: 10%;
  }
}
